<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>AJ's Portfolio</title>
    <link rel="stylesheet" href="./src/style.css">
    <!-- Everything needed for Vuetify 2.0 -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
</head>
<body>

    <!-- Vue.js Components -->

    <!-- System Components -->
    <!-- #region -->

    <!-- Appbar -->
    <template id="appbar">
        <v-app-bar app color="indigo darken-3" dark hide-on-scroll>
            <v-avatar>
                <v-img src="./assets/img/profile_pic.png" alt="Profile picture of AJ De La Costa"></v-img>
            </v-avatar>
            <v-toolbar-title class="ml-3">AJ's Portfolio</v-toolbar-title>
            <v-spacer></v-spacer>
            <v-toolbar-items>
                <v-btn text @click="changeView('home')">Home</v-btn>
                <v-btn text @click="changeView('about')">About</v-btn>
                <v-btn text @click="changeView('experience')">Experience</v-btn>
                <v-btn text @click="changeView('projects')">Projects</v-btn>
                <v-btn text @click="changeView('contact')">Contact</v-btn>
                <v-btn text @click="changeView('blog')">Blog</v-btn>
            </v-toolbar-items>
        </v-app-bar>
    </template>

    <!-- Footer -->
    <template id="footer">
        <v-footer app>

        </v-footer>
    </template>

    <!-- #endregion -->

    <!-- Hero Parallax Image-->
    <!-- #region -->
    <template id="hero">
        <v-container fluid class="pa-0">
            <v-row no-gutters class="pa-0">
                <v-col cols=12>
                    <v-parallax src="./assets/img/paint2_resize.jpg" height="900">
                        <v-row justify="center" align="center">
                            <transition name="fade">
                                <v-col cols=12 class="text-center" v-if="showParallaxText">
                                    <h1 class="display-4 font-weight-regular" v-if="showParallaxText">Welcome to My
                                        Portfolio</h1>
                                    <h4 class="subheading">Please feel free to look around!</h4>
                                </v-col>
                            </transition>
                        </v-row>
                    </v-parallax>
                </v-col>
            </v-row>
        </v-container>
    </template>
    <!-- #endregion -->

    <!-- Main Content -->
    <template id="mainContent">
        <v-container fluid>
            <v-row>
                <v-col cols=12>
                    <v-card flat height="5000px">
                        <v-card-title>This is a test</v-card-title>
                        <v-card-text>This is another test</v-card-text>
                    </v-card>
                </v-col>
            </v-row>
        </v-container>
    </template>


    <!-- Vue App -->
    <!-- #region -->
    <div id="app">
        <v-app>
            <appbar></appbar>
            <v-content>
                <template v-if="views[0].show">
                    <hero></hero>
                    <main-content></main-content>
                </template>
            </v-content>
        </v-app>
    </div>
    <!-- #endregion -->


    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
    <script src="./src/script.js"></script>
</body>
</html>